.portfolioLinkContainer {
  margin: 5px;
}

.portfolioLink {
  color: white;
  text-decoration: none;
  background-color: black;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  box-shadow: 5px 5px 5px rgb(53, 53, 53, 0.9);
  transition: all 0.5s;
}

.portfolioLink:hover {
  box-shadow: 8px 8px 5px rgb(60, 60, 60, 0.6);
  transform: scale(1.05);
}
